<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wintop.ms.fs.house.mapper.HouseDAO">
  <resultMap id="BaseResultMap" type="com.wintop.ms.fs.house.entity.House">
    <!-- @mbg.generated 2018-03-04 14:18:04 -->
    <id column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="house_name" jdbcType="VARCHAR" property="houseName" />
    <result column="house_hall" jdbcType="VARCHAR" property="houseHall" />
    <result column="area" jdbcType="DOUBLE" property="area" />
    <result column="real_area" jdbcType="DOUBLE" property="realArea" />
    <result column="provice" jdbcType="VARCHAR" property="provice" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="build_type" jdbcType="VARCHAR" property="buildType" />
    <result column="build_year" jdbcType="DATE" property="buildYear" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="floor" jdbcType="INTEGER" property="floor" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
    <result column="renovation" jdbcType="VARCHAR" property="renovation" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="frist_pay" jdbcType="DECIMAL" property="fristPay" />
    <result column="month_pay" jdbcType="DECIMAL" property="monthPay" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="contact_way" jdbcType="VARCHAR" property="contactWay" />
    <result column="descb" jdbcType="VARCHAR" property="descb" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="major_addr" jdbcType="VARCHAR" property="majorAddr" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="lift_flag" jdbcType="VARCHAR" property="liftFlag" />
    <result column="heat" jdbcType="VARCHAR" property="heat" />
    <result column="house_age" jdbcType="INTEGER" property="houseAge" />
    <result column="house_no" jdbcType="VARCHAR" property="houseNo" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2018-03-04 14:18:04 -->
    house_id, house_name, house_hall, area, real_area, provice, city, district, addr, 
    build_type, build_year, house_type, floor, sale_price, direction, renovation, unit_price, 
    frist_pay, month_pay, owner_id, owner_name, contact_way, descb, state, major_addr, 
    remark, lift_flag, heat, house_age, house_no, create_time, create_id, create_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2018-03-04 14:18:04 -->
    select 
    <include refid="Base_Column_List" />
    from house
    where house_id = #{houseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2018-03-04 14:18:04 -->
    delete from house
    where house_id = #{houseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wintop.ms.fs.house.entity.House">
    <!-- @mbg.generated 2018-03-04 14:18:04 -->
    insert into house (house_id, house_name, house_hall, 
      area, real_area, provice, 
      city, district, addr, 
      build_type, build_year, house_type, 
      floor, sale_price, direction, 
      renovation, unit_price, frist_pay, 
      month_pay, owner_id, owner_name, 
      contact_way, descb, state, 
      major_addr, remark, lift_flag, 
      heat, house_age, house_no, 
      create_time, create_id, create_name
      )
    values (#{houseId,jdbcType=INTEGER}, #{houseName,jdbcType=VARCHAR}, #{houseHall,jdbcType=VARCHAR}, 
      #{area,jdbcType=DOUBLE}, #{realArea,jdbcType=DOUBLE}, #{provice,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{buildType,jdbcType=VARCHAR}, #{buildYear,jdbcType=DATE}, #{houseType,jdbcType=VARCHAR}, 
      #{floor,jdbcType=INTEGER}, #{salePrice,jdbcType=DECIMAL}, #{direction,jdbcType=VARCHAR}, 
      #{renovation,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, #{fristPay,jdbcType=DECIMAL}, 
      #{monthPay,jdbcType=DECIMAL}, #{ownerId,jdbcType=INTEGER}, #{ownerName,jdbcType=VARCHAR}, 
      #{contactWay,jdbcType=VARCHAR}, #{descb,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{majorAddr,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{liftFlag,jdbcType=VARCHAR}, 
      #{heat,jdbcType=VARCHAR}, #{houseAge,jdbcType=INTEGER}, #{houseNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{createId,jdbcType=INTEGER}, #{createName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wintop.ms.fs.house.entity.House">
    <!-- @mbg.generated 2018-03-04 14:18:04 -->
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseId != null">
        house_id,
      </if>
      <if test="houseName != null">
        house_name,
      </if>
      <if test="houseHall != null">
        house_hall,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="realArea != null">
        real_area,
      </if>
      <if test="provice != null">
        provice,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="buildType != null">
        build_type,
      </if>
      <if test="buildYear != null">
        build_year,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="direction != null">
        direction,
      </if>
      <if test="renovation != null">
        renovation,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="fristPay != null">
        frist_pay,
      </if>
      <if test="monthPay != null">
        month_pay,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="contactWay != null">
        contact_way,
      </if>
      <if test="descb != null">
        descb,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="majorAddr != null">
        major_addr,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="liftFlag != null">
        lift_flag,
      </if>
      <if test="heat != null">
        heat,
      </if>
      <if test="houseAge != null">
        house_age,
      </if>
      <if test="houseNo != null">
        house_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createName != null">
        create_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseName != null">
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="houseHall != null">
        #{houseHall,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=DOUBLE},
      </if>
      <if test="realArea != null">
        #{realArea,jdbcType=DOUBLE},
      </if>
      <if test="provice != null">
        #{provice,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="buildType != null">
        #{buildType,jdbcType=VARCHAR},
      </if>
      <if test="buildYear != null">
        #{buildYear,jdbcType=DATE},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="renovation != null">
        #{renovation,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="fristPay != null">
        #{fristPay,jdbcType=DECIMAL},
      </if>
      <if test="monthPay != null">
        #{monthPay,jdbcType=DECIMAL},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="descb != null">
        #{descb,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="majorAddr != null">
        #{majorAddr,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="liftFlag != null">
        #{liftFlag,jdbcType=VARCHAR},
      </if>
      <if test="heat != null">
        #{heat,jdbcType=VARCHAR},
      </if>
      <if test="houseAge != null">
        #{houseAge,jdbcType=INTEGER},
      </if>
      <if test="houseNo != null">
        #{houseNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wintop.ms.fs.house.entity.House">
    <!-- @mbg.generated 2018-03-04 14:18:04 -->
    update house
    <set>
      <if test="houseName != null">
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="houseHall != null">
        house_hall = #{houseHall,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=DOUBLE},
      </if>
      <if test="realArea != null">
        real_area = #{realArea,jdbcType=DOUBLE},
      </if>
      <if test="provice != null">
        provice = #{provice,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="buildType != null">
        build_type = #{buildType,jdbcType=VARCHAR},
      </if>
      <if test="buildYear != null">
        build_year = #{buildYear,jdbcType=DATE},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="renovation != null">
        renovation = #{renovation,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="fristPay != null">
        frist_pay = #{fristPay,jdbcType=DECIMAL},
      </if>
      <if test="monthPay != null">
        month_pay = #{monthPay,jdbcType=DECIMAL},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        contact_way = #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="descb != null">
        descb = #{descb,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="majorAddr != null">
        major_addr = #{majorAddr,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="liftFlag != null">
        lift_flag = #{liftFlag,jdbcType=VARCHAR},
      </if>
      <if test="heat != null">
        heat = #{heat,jdbcType=VARCHAR},
      </if>
      <if test="houseAge != null">
        house_age = #{houseAge,jdbcType=INTEGER},
      </if>
      <if test="houseNo != null">
        house_no = #{houseNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
    </set>
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wintop.ms.fs.house.entity.House">
    <!-- @mbg.generated 2018-03-04 14:18:04 -->
    update house
    set house_name = #{houseName,jdbcType=VARCHAR},
      house_hall = #{houseHall,jdbcType=VARCHAR},
      area = #{area,jdbcType=DOUBLE},
      real_area = #{realArea,jdbcType=DOUBLE},
      provice = #{provice,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      build_type = #{buildType,jdbcType=VARCHAR},
      build_year = #{buildYear,jdbcType=DATE},
      house_type = #{houseType,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=INTEGER},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      direction = #{direction,jdbcType=VARCHAR},
      renovation = #{renovation,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      frist_pay = #{fristPay,jdbcType=DECIMAL},
      month_pay = #{monthPay,jdbcType=DECIMAL},
      owner_id = #{ownerId,jdbcType=INTEGER},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      contact_way = #{contactWay,jdbcType=VARCHAR},
      descb = #{descb,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      major_addr = #{majorAddr,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      lift_flag = #{liftFlag,jdbcType=VARCHAR},
      heat = #{heat,jdbcType=VARCHAR},
      house_age = #{houseAge,jdbcType=INTEGER},
      house_no = #{houseNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      create_id = #{createId,jdbcType=INTEGER},
      create_name = #{createName,jdbcType=VARCHAR}
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>

  <select id="listByQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from house
    <where>
        state =  #{state,jdbcType=VARCHAR}
      <if test="provice != null">
        and provice = #{provice,jdbcType=VARCHAR}
      </if>
      <if test="city != null">
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="district != null">
        and district = #{district,jdbcType=VARCHAR}
      </if>
      <if test="salePriceBegin != null">
        <![CDATA[  and sale_price >= #{salePriceBegin,jdbcType=DECIMAL} ]]>
      </if>
      <if test="salePriceEnd != null">
        <![CDATA[  and sale_price <= #{salePriceEnd,jdbcType=DECIMAL} ]]>
      </if>
      <if test="areaBegin != null">
        <![CDATA[ and area >= #{areaBegin,jdbcType=DOUBLE} ]]>
      </if>
      <if test="areaEnd != null">
        <![CDATA[ and area <= #{areaEnd,jdbcType=DOUBLE} ]]>
      </if>
      <if test="houseHall != null">
        and house_hall like #{houseHall,jdbcType=VARCHAR}
      </if>
      <if test="houseType != null">
        and house_type = #{houseType,jdbcType=VARCHAR}
      </if>
      <if test="floorBegin != null">
        <![CDATA[ and floor >= #{floorBegin,jdbcType=INTEGER} ]]>
      </if>
      <if test="floorEnd != null">
        <![CDATA[ and floor <= #{floorEnd,jdbcType=INTEGER} ]]>
      </if>
      <if test="direction != null">
        and direction = #{direction,jdbcType=VARCHAR}
      </if>
      <if test="houseAgeBegin != null">
        <![CDATA[ and create_time <= #{houseBeginTime,jdbcType=DATE} ]]>
      </if>
      <if test="houseAgeEnd != null">
        <![CDATA[ and create_time >= #{houseEndTime,jdbcType=DATE} ]]>
      </if>
      <if test="renovation != null">
        and renovation = #{renovation,jdbcType=VARCHAR}
      </if>
      <if test="tagName != null">
        and house_id in (
          select house_id from house_tag where tag_name = #{tagName}
        )
      </if>
      <if test="priceFlag != null">
        order by sale_price
      </if>
      <if test="unitPriceFlag != null">
        order by unit_price
      </if>
      <if test="areaFlag != null">
        order by area
      </if>
      <if test="createFlag != null">
        order by create_time
      </if>
    </where>
  </select>
</mapper>