<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wintop.ms.fs.housesale.mapper.HouseSaleDAO">
  <resultMap id="BaseResultMap" type="com.wintop.ms.fs.housesale.entity.HouseSale">
    <!-- @mbg.generated 2018-03-11 10:47:14 -->
    <id column="house_sale_id" jdbcType="INTEGER" property="houseSaleId" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="house_name" jdbcType="VARCHAR" property="houseName" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="cust_name" jdbcType="VARCHAR" property="custName" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="sale_time" jdbcType="DATE" property="saleTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2018-03-11 10:47:14 -->
    house_sale_id, house_id, house_name, cust_id, cust_name, owner_id, owner_name, reason, 
    sale_price, sale_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2018-03-11 10:47:14 -->
    select 
    <include refid="Base_Column_List" />
    from house_sale
    where house_sale_id = #{houseSaleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2018-03-11 10:47:14 -->
    delete from house_sale
    where house_sale_id = #{houseSaleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wintop.ms.fs.housesale.entity.HouseSale">
    <!-- @mbg.generated 2018-03-11 10:47:14 -->
    insert into house_sale (house_sale_id, house_id, house_name, 
      cust_id, cust_name, owner_id, 
      owner_name, reason, sale_price, 
      sale_time)
    values (#{houseSaleId,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{houseName,jdbcType=VARCHAR}, 
      #{custId,jdbcType=INTEGER}, #{custName,jdbcType=VARCHAR}, #{ownerId,jdbcType=INTEGER}, 
      #{ownerName,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{salePrice,jdbcType=DECIMAL}, 
      #{saleTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.wintop.ms.fs.housesale.entity.HouseSale">
    <!-- @mbg.generated 2018-03-11 10:47:14 -->
    insert into house_sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseSaleId != null">
        house_sale_id,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="houseName != null">
        house_name,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="custName != null">
        cust_name,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="saleTime != null">
        sale_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseSaleId != null">
        #{houseSaleId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseName != null">
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="saleTime != null">
        #{saleTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wintop.ms.fs.housesale.entity.HouseSale">
    <!-- @mbg.generated 2018-03-11 10:47:14 -->
    update house_sale
    <set>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseName != null">
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="custName != null">
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="saleTime != null">
        sale_time = #{saleTime,jdbcType=DATE},
      </if>
    </set>
    where house_sale_id = #{houseSaleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wintop.ms.fs.housesale.entity.HouseSale">
    <!-- @mbg.generated 2018-03-11 10:47:14 -->
    update house_sale
    set house_id = #{houseId,jdbcType=INTEGER},
      house_name = #{houseName,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=INTEGER},
      cust_name = #{custName,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=INTEGER},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      sale_time = #{saleTime,jdbcType=DATE}
    where house_sale_id = #{houseSaleId,jdbcType=INTEGER}
  </update>

  <select id="listByQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from house_sale
    <where>
      <if test="houseName != null">
        house_name like #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
          and  owner_id = #{userId,jdbcType=INTEGER}
       </if>
    </where>
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    select
    count(1)
    from house_sale
    <where>
      <if test="houseName != null">
        house_name like #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
          and  owner_id = #{userId,jdbcType=INTEGER}
       </if>
    </where>
  </select>
</mapper>