<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wintop.ms.fs.userscore.mapper.UserScoreDAO">
  <resultMap id="BaseResultMap" type="com.wintop.ms.fs.userscore.entity.UserScore">
    <!-- @mbg.generated 2018-03-04 14:39:32 -->
    <id column="user_score_id" jdbcType="INTEGER" property="userScoreId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="cust_name" jdbcType="VARCHAR" property="custName" />
    <result column="count_score" jdbcType="INTEGER" property="countScore" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2018-03-04 14:39:32 -->
    user_score_id, user_id, user_name, cust_id, cust_name, count_score, comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2018-03-04 14:39:32 -->
    select 
    <include refid="Base_Column_List" />
    from user_score
    where user_score_id = #{userScoreId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2018-03-04 14:39:32 -->
    delete from user_score
    where user_score_id = #{userScoreId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wintop.ms.fs.userscore.entity.UserScore">
    <!-- @mbg.generated 2018-03-04 14:39:32 -->
    insert into user_score (user_score_id, user_id, user_name, 
      cust_id, cust_name, count_score, 
      comment)
    values (#{userScoreId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{custId,jdbcType=INTEGER}, #{custName,jdbcType=VARCHAR}, #{countScore,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wintop.ms.fs.userscore.entity.UserScore">
    <!-- @mbg.generated 2018-03-04 14:39:32 -->
    insert into user_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userScoreId != null">
        user_score_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="custName != null">
        cust_name,
      </if>
      <if test="countScore != null">
        count_score,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userScoreId != null">
        #{userScoreId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="countScore != null">
        #{countScore,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wintop.ms.fs.userscore.entity.UserScore">
    <!-- @mbg.generated 2018-03-04 14:39:32 -->
    update user_score
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="custName != null">
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="countScore != null">
        count_score = #{countScore,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where user_score_id = #{userScoreId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wintop.ms.fs.userscore.entity.UserScore">
    <!-- @mbg.generated 2018-03-04 14:39:32 -->
    update user_score
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=INTEGER},
      cust_name = #{custName,jdbcType=VARCHAR},
      count_score = #{countScore,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR}
    where user_score_id = #{userScoreId,jdbcType=INTEGER}
  </update>
</mapper>