@charset "utf-8";
/* CSS Document */
.mar{margin-left:auto;margin-right:auto;}
.lf{float:left;}
.rf{float:right;}

.bkBox{width:1178px; min-height:410px;}
.marTop3{margin-top:30px;}
.marBoT3{margin-bottom:30px;}

.mr14{margin-right:14px;}

/* 消息 */
.talk-box .one_list{float:left;}
.xBox{position:fixed;z-index:1000;bottom:5px;right:43px;box-shadow:0px 63px 30px -1px rgba(0,0,0,0.5);}
.xiaoxiBox{width:240px;height:40px;padding-top:45px;background:url(../images/m.png) no-repeat left bottom;}
.talk-box .mo{width:177px;height:40px;padding-left:63px;}
.talk-box .mo p{float:left;color:#323942;font-size:14px;line-height:40px;width:100%;}
.zhankai{background:url(../images/zhankai.png) no-repeat 149px center;cursor:pointer;}
.talk-box .mo a{float:right;background:url(../images/xl.png) no-repeat center center;padding:15px;width:22px;height:10px;cursor:pointer;}
.talk-box .xList{width:240px;height:445px;padding-bottom:11px;background:#f6f6f6;overflow-y:scroll;}
.talk-box .xList li{background:#f6f6f6;padding:15px 10px;border-bottom:1px solid #ececec;overflow:hidden;vertical-align:top;}
.talk-box .xList li.cur{background:#fff;}
.talk-box .head-icons{width:43px;height:43px;border-radius:43px;overflow:hidden;margin-left:9px;margin-right:11px;float:left;}
.talk-box .head-icons img{width:43px;margin:0 auto;}

.talk-box .head-cons{float:left;width:76%;}
.talk-box .head-cons p{color:#535d6a;font-size:12px;overflow:hidden;line-height:22px;text-overflow:ellipsis;white-space: nowrap;max-height:22px;}
.talk-box .head-cons p strong{float:left;color:#323942;font-size:14px;}
.talk-box .head-cons p span{float:right;color:#8e99a9;font-size:12px;}
.talk-box .head-cons p img {width:16px;}

.talk-box .nums{background:#ff4444;color:#fff;font-size:12px;text-align:center;line-height:18px;margin-left:7px;border-radius:8px;font-weight:normal;padding:0 6px;}

.talk-box .two_cons{float:left;width:445px;}
.talk-box .closed{padding-top:45px;}
.talk-box .closed p{/*border-left:1px solid #ececec;*/font-size: 14px;height:40px;background:#ffca01;}
.talk-box .closed p a{float:right;background:url(../images/close.png) no-repeat center center;padding:10px 15px; text-indent:-9999px;cursor:pointer;}

.talk-box .t_Mains{height:456px;/*overflow-y:scroll;*/position:relative;background:#fff;}
.talk-box .bor-left{border-left:1px solid #ececec;}

.talk-box .w-login{height:445px;padding-bottom:11px;text-align:center;background:#fff}
.talk-box .w-login p{font-size:15px;color:#a1a2a4;}
.talk-box .login-tip{padding-bottom:20px;padding-top:170px;}
.talk-box .w-login a{display:block;margin:0 auto;background:#fbb100;font-size:14px;color:#fff;width:120px;height:40px;line-height:40px;border-radius:3px;}
.talk-box .w-login img{display:block;width:89px;height:109px;margin:0 auto;padding-top:118px;padding-bottom:20px;}

/* 详细内容 */
.talk-box .f-menus{position:absolute;line-height:37px;top:0;left:0;width:100%;background:#f8f8f8;z-index:10;text-indent:23px;}

.talk-box .t_Mains li{display:none;}
.talk-box .t_Mains li.show{display:block;}

.talk-box .dhBox{height:257px;overflow-y:scroll;padding: 37px 23px 0 23px;width: 399px;}
/* 经纪人爱聊样式 */
.talk-box .j-name{float:left;color:#323942;font-size:14px;}
.talk-box .j-name i{color:#92959a;font-size:12px;}
.talk-box .j-tel{padding-right:15px;float:right;color:#e63a52;font-size:12px;}

.talk-box .liaoBox{margin-bottom:30px;width:333px;margin-top: 15px;}
.talk-box .liao-y{float:right;}
.talk-box .jjr{float:left;overflow:hidden;}
.talk-box .kh{float:right;overflow:hidden;}

.talk-box .kh-head{float:left;width:35px;height:35px;border-radius:35px;overflow:hidden;}
.talk-box .kh-head img{width:35px;margin:0 auto;}

.talk-box .left-bg{background:url(../images/left-h.png) no-repeat left 8px;padding-left:6px;margin-left:6px;}
.talk-box .left-bg .kh-headBg{background:#f8f8f8;}
.talk-box .right-bg{background:url(../images/right-y.png) no-repeat right 8px;padding-right:6px;margin-right:6px;}
.talk-box .right-bg .kh-headBg{background:#ffca01;}

.talk-box .kh-headCon{float:left;}
.talk-box .kh-headBg{padding:10px 13px;border-radius:5px;font-size:12px;max-width:260px;word-break:break-all;}

.talk-box .fySty img{width:100%;display:block;margin-bottom:10px;}
.talk-box .fySty p{color:#000;font-size:13px;line-height:22px;}
.talk-box .fySty span{color:#9e9e9e;font-size:12px;}
.talk-box .fySty strong{color:#d64161;font-size:14px;}
/* 输入区域 */
.talk-box .textAre{border-top:1px solid #ececec;width:100%;height:161px;position:absolute;bottom:0;left:0;}
.talk-box .wbq{width:424px;height:52px;border:none;padding:10px;}
.talk-box .fsBox{height:34px;padding:0 14px 10px 14px;}
.talk-box .imgIcon{float:left;display:block;width:40px;height:40px;cursor:pointer;background:url(../images/img-icon.png) no-repeat 12px center;overflow:hidden;margin-left:10px;}
.talk-box .imgIcon:hover{background-color:#dbded6;}
.talk-box .imgIcon input{width:40px;height:40px;opacity:0;filter:alpha(opacity=0)}
.talk-box .aBtn{float:right;width:90px;text-align:center;border:2px solid #fbc700;line-height:26px;background:#fdc915;color:#323942;font-size:12px;border-radius:3px;cursor:pointer;margin-top:2px;}
/* 房源动态样式 */
.talk-box .fy-height{height:410px;padding-bottom:9px;overflow-y:scroll;}
.talk-box .listCon{width:399px;padding:37px 23px 0 23px;position:relative;}
.talk-box .list-time{text-align:center;color:#96a0af;font-size:12px;line-height:50px;width:381px;overflow:hidden;}

.talk-box .list-mokuai{}
.talk-box .list-mokuai dt{float:left;width:35px;}
.talk-box .list-mokuai dt img{height:35px;width:35px;margin:0 auto;}
.talk-box .list-mokuai dd{float:left;margin-left:6px;background:url(../images/left-h.png) no-repeat left 8px;padding-left:6px;}
.talk-box .list-mokuai dd a{display: block;}
.talk-box .list-mokuaiBg{background:#f8f8f8;padding:18px 13px;border-radius:5px;width:290px;}
.talk-box .list-mokuai {  margin-bottom: 10px;  margin-top: 10px;}

.talk-box .list-tit-m{color:#323942;font-size:14px;padding-bottom:9px;border-bottom:1px solid #e6e6e6;overflow:hidden;}
.talk-box .tit-name{float:left;}
.talk-box .jt-icon{float:right;background:url(../images/right.png) no-repeat right center;width:8px;height:18px;}
.talk-box .iSty{display:inline-block;width:9px;height:12px;margin-left:5px;}
.talk-box .red-top{background:url(../images/top.png) no-repeat;}
.talk-box .green-bottom{background:url(../images/bottom.png) no-repeat;}

.talk-box .tit-con{padding-top:10px;}

.talk-box .tit-con-main{float:left;width:208px;}
.talk-box .tit-con-price{float:left;width:81px;text-align:right;}

.talk-box .tit-con-main p span{color:#323942;font-size:14px;width:188px;}
.talk-box .tit-con-main p {line-height:25px;color:#535d6a;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.talk-box .tit-con-price p{font-weight:bold;padding-top:15px;color:#e74057;font-size:14px;}

/* 停售 */
.talk-box .t-shou .list-tit-m,.t-shou .tit-con-main p span,.t-shou .tit-con-main p,.t-shou .tit-con-price p{color:#a8aaac;}
.talk-box .t-shou .tit-con-main p span{text-decoration:line-through;}

/* 小区动态 */

.talk-box .xq-dt .list-tit-m  p{color:#323942;font-size:14px;padding-right:15px;background:url(../images/right.png) no-repeat right center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.talk-box .xq-dt .tit-con-price p{padding-top:3px;}
.talk-box .xq-dt .tit-con-price i{display:block;padding:2px 6px;color:#96a0af;font-size:12px;border:1px solid #e6e6e6;text-align:center;margin-top:4px;}
.talk-box .more-xq{display:block;width:100%;text-align:center;line-height:30px;background:#ffca01;margin-top:30px;color:#fff;font-size:12px;height:30px;}
/* 智能选房 */
.talk-box .zn-height{height:410px;padding-bottom:9px;overflow-y:scroll;}
.talk-box .zn-Box{overflow:hidden;margin-top: 15px;}
.talk-box .zn-head{float:left;width:35px;}
.talk-box .zn-head img{height:35px;width:35px;margin:0 auto;}

.talk-box .zn-Con{float:left;max-width:290px;}
.talk-box .cardBox{margin-bottom:13px;padding-left:6px;margin-left:6px;}
.talk-box .card-style{padding:12px 13px;border-radius:5px;}
.talk-box .card-style a{display:block;color:#323942;font-size:14px;background:url(../images/right.png) no-repeat right center;padding-right:22px;/*overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/}
.talk-box .card-01{background:url(../images/left-b.png) no-repeat left 8px;}
.talk-box .card-01-bg{background:#f1f7ff;}
.talk-box .card-02{background:url(../images/left-h.png) no-repeat left 8px;}
.talk-box .card-02-bg{background:#f8f8f8;}

/* 新消息  */
.talk-box .news-box{position:absolute;left:0;top:260px;z-index:50;background:url(../images/black-bg.png) repeat;height:35px;line-height:35px;color:#fff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 14px;width:400px;}
/* 表情  */
.talk-box .bqBox{height:40px;background:#f8f8f8;border-bottom:1px solid #ececec;position:relative;}
.talk-box .face-icon{float:left;display:block;width:40px;height:40px;background:url(../images/face-icon.png) no-repeat center center;}
.talk-box .face-icon:hover{background-color:#dbded6;}

/* 表情弹层  */
.talk-box .faceBox{position:absolute;left:0;top:-200px;background:#fff;width:100%;height:200px;z-index:1001;box-shadow:2px 2px 5px 3px rgba(170,170,170,0.5);}
.talk-box .faceBox a{float:left;display:block;padding:2px;}
.talk-box .faceBox a img{width:24px;height:24px;}

.talk-box .qqFace{padding:6px;box-shadow:2px 2px 5px 3px rgba(170,170,170,0.5);}

.talk-box .qqFace table tr td img{margin:0 auto;width:28px;height:28px;}

/*新加icon*/
.talk-box .mo .nums{vertical-align:1px;}
.talk-box .mo p{width:100%;}
/*.talk-box .mo .zhankai{width:15px;height:19px;background:url(../images/zhankai.png) no-repeat center center;padding:15px;}*/

.talk-box .hide{display:none;}
.talk-box .show{display:block;}
/* 新增语音样式  */
.talk-box .kh-headBg{line-height:15px;}
.yin-icon{display:block;width:11px;height:15px;background:url(../images/yuyin.png) no-repeat;}
.k-yuyin{float:left;margin-right:5px;background-position:0 0;}
.j-yuyin{float:right;margin-left:5px;background-position:right 0;}

@media (min-width: 1100px) {
.talk-box .head-icons {margin-right:6px}
}
@media (min-width: 1000px) {
  .talk-box .head-cons {width:135px;}
}
