/*common 样式*/
.fl{float:left}
.pageerror-box{margin:172px auto 0;width:535px;}
.errorimg{width:188px;height:228px;margin-top:21px;margin-right:80px;}
.pageerror p{line-height:27px;font-size:14px;color:#757980;display: block;}
.pageerror p.error-icon{width:200px;height:38px;}
.pageerror p.ertxt{font-size:24px;line-height:63px;margin-bottom:30px;}
.pageerror a{background:#f9af3f;padding:12px 33px;font-size:12px;color:#fff;margin-top:27px;display: inline-block;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

/*auth*/
.au-box .form-group{height:74px;padding-top:20px;}
.au-box .help-block-error{color:#e6465e;padding:2px 0 0 11px;}
.au-inp{float:left;}
.au-inp input{width:120px;padding:7px 10px;line-height:20px;border:1px solid #eee;background:none;font-size:14px;}
.au-img{float:right;}
.au-img img{width:90px;}
.au-btn-box{width:100%;}
.au-btn{display:inline-block;width:142px;line-height:40px;font-size:14px;text-align:center;background:#f9af3f;border:none;color:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
