/*分页*/
.ts-page{
    width:100%;
    text-align:center;
    margin:56px 0;
}
.ts-page span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding:0 12px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin:0 4px;
    border:1px solid #e4e4e4;
    border-radius:1px
}
.ts-page span:hover{
    text-decoration:underline
}
.ts-page .tspage-ell{
    cursor:auto;
    background-color: #f2f2f2;
    box-shadow: none;
    margin:0;
}
.ts-page span.disable{
    cursor: not-allowed;
    color:#333;
}
.ts-page .page.on{
    background-color:#1b242b;
    color:#fff;
    border-color:#1b242b;
    border-radius:2px
}