@charset "UTF-8";

.cxfw-bg{background:#f1f1f1;}
.cxfw-banner{width:100%;height:499px;background:url(../images/cxfw-banner.jpg) center top no-repeat;}
.cxfw-banner .main{height:499px;position:relative;}
.cxfw-tit{width:586px;height:133px;background:url(../images/cxfw-title.png) no-repeat;position:absolute;top:260px;}
/*.cxfw-logo{display:block;width:116px;height:32px;background:url(../images/cxfw-logo.png) no-repeat;position:absolute;top:47px;}*/

.cxfw-box{background:#fff;margin-top:-30px;}
.cxfw-box h2{line-height:52px;font-size:30px;color:#000;font-weight:bold;padding:54px 120px 0 120px;}
.cxfw-box img{margin:0 auto;}

.cxfw-con1{padding:107px 0 61px 0;}
.cxfw-con2{background:#f7f7f7;padding:96px 0 88px 0;}
.cxfw-con3{padding:48px 0 112px 0;}

.cxfw-footer{color:#c0c0c0;font-size:14px;text-align:center;padding:48px 148px;}