<!DOCTYPE html>
<html lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>改善居所_北京我爱我家官网</title>
<link href="sourse/basic.css" rel="stylesheet">
<link href="sourse/list.css" rel="stylesheet">
<link rel="stylesheet" href="sourse/page.css">
<body>
<!-- 导航 start -->
<div class="top-bar-box">
    <div class="main top-bar">
        <div class="top-logo">
            <a href="index.html">
                <img src="https://res.5i5j.com/pc/site/images/index-logo.png" height="30"/>
            </a>
        </div>
        <div class="top-login" id="userlogin">
            <a href="login.html?code=0" target="" class="log" rel="nofollow">登录</a>
            <a href="login.html?code=1" target="_blank" rel="nofollow">注册</a>
        </div>
        <ul class="top-nav">
            <li><a href="javascript:void(0)">二手房</a></li>
            <li><a href="javascript:void(0)">租房</a></li>
            <li><a href="javascript:void(0)">相寓</a></li>
            <li><a href="commit-service.html">服务承诺</a></li>
        </ul>
    </div>
</div>
<!-- 导航 end -->
<!-- 有好房内容区 -->
<div class="hfBox mar marTop3">
    <!-- 有好房列表 -->
    <ul class="hfList">
       <li>
                            <div class="hfList_img">
                                <a href="house-detail.html" target="_blank">
                                    <img class="lazy" src="sourse/CgqJM1pTrWeAWV3dAAJ7viDi6mg356.jpg" style="display: block;">
                                </a>
                            </div>
                            <div class="hfList_con">
                                <div class="imgMiao">
                                    <div class="xiaoName ">
                                        <p><a href="house-detail.html" target="_blank">风林绿洲</a></p>
                                        <p>朝阳-南沙滩&nbsp;·&nbsp;2001年建成&nbsp;·&nbsp;板楼,塔楼</p>
                                    </div>
                                    <ul class="xiaoName_list">
                                        <li><i class="i_4"></i><span>内部环境:北五环内，有健身会所，带水景、园林景观，环境好，多为四居大户型，全封闭小区，24小时物业管理，地下停车位。                                </span></li>
                                        <li><i class="i_2"></i><span>周边配套:周边有新奥购物中心、解放军306医院、奥森公园等配套。                                </span></li>
                                        <li><i class="i_5"></i><span>交通:双地铁，距15号线与8号线交汇站（奥林匹克公园站）800余米。                                </span></li>
                                    </ul>
                                </div>
                           </div>
                            <p class="jia"><strong><em>59762</em></strong>元/m²</p>
                        </li>
        <li>
            <div class="hfList_img">
                <a href="house-detail.html" target="_blank">
                    <img class="lazy" src="sourse/CgqJM1pTrWeAWV3dAAJ7viDi6mg356.jpg" style="display: block;">
                </a>
            </div>
            <div class="hfList_con">
                <div class="imgMiao">
                    <div class="xiaoName ">
                        <p><a href="house-detail.html" target="_blank">风林绿洲</a></p>
                        <p>朝阳-南沙滩&nbsp;·&nbsp;2001年建成&nbsp;·&nbsp;板楼,塔楼</p>
                    </div>
                    <ul class="xiaoName_list">
                        <li><i class="i_4"></i><span>内部环境:北五环内，有健身会所，带水景、园林景观，环境好，多为四居大户型，全封闭小区，24小时物业管理，地下停车位。                                </span></li>
                        <li><i class="i_2"></i><span>周边配套:周边有新奥购物中心、解放军306医院、奥森公园等配套。                                </span></li>
                        <li><i class="i_5"></i><span>交通:双地铁，距15号线与8号线交汇站（奥林匹克公园站）800余米。                                </span></li>
                    </ul>
                </div>
            </div>
            <p class="jia"><strong><em>59762</em></strong>元/m²</p>
        </li>
        <li>
            <div class="hfList_img">
                <a href="house-detail.html" target="_blank">
                    <img class="lazy" src="sourse/CgqJM1pTrWeAWV3dAAJ7viDi6mg356.jpg" style="display: block;">
                </a>
            </div>
            <div class="hfList_con">
                <div class="imgMiao">
                    <div class="xiaoName ">
                        <p><a href="house-detail.html" target="_blank">风林绿洲</a></p>
                        <p>朝阳-南沙滩&nbsp;·&nbsp;2001年建成&nbsp;·&nbsp;板楼,塔楼</p>
                    </div>
                    <ul class="xiaoName_list">
                        <li><i class="i_4"></i><span>内部环境:北五环内，有健身会所，带水景、园林景观，环境好，多为四居大户型，全封闭小区，24小时物业管理，地下停车位。                                </span></li>
                        <li><i class="i_2"></i><span>周边配套:周边有新奥购物中心、解放军306医院、奥森公园等配套。                                </span></li>
                        <li><i class="i_5"></i><span>交通:双地铁，距15号线与8号线交汇站（奥林匹克公园站）800余米。                                </span></li>
                    </ul>
                </div>
            </div>
            <p class="jia"><strong><em>59762</em></strong>元/m²</p>
        </li>
    </ul>
    <div class="ts-page"></div>
    <!-- 有好房列表 End-->
</div>
<!-- 有好房内容区 End-->
<footer></footer>
<script src="sourse/jquery-1.10.2.min.js"></script>
<script src="sourse/common.js"></script>
<script src="sourse/page.js"></script>
<script>
    var pageCount=10;
    inserHtml(pageCount,1);
    bindEvent(pageCount);
</script>
</body></html>