@charset "UTF-8";

/*float*/
.houdongwei li,.link-list li,.data-box,.data-box li,.house-list li,.tab-tit li,.tab-con li,.tab-con .pic,.hwzy-list li,.xinf-list li{float:left;}
.tab-con .info{float:right;}

/*border-radius*/
.ind-banner .search-inp,.ind-banner .search-menu{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

/*icon*/
/*.link-icon,.data-box .up,.data-box .down,.tit-more .icon-arrow,.fwcn .icon,.m-icon{display:inline-block;background:url(./images/ind-icon.png) no-repeat;}*/

/*no-margin-r*/
.houdongwei .no-margin-r,.house-list .no-margin-r,.tab-con .no-margin-r,.hwzy-list .no-margin-r{margin-right:0;}

/*transition*/
.house-list li img,.tab-con .pic img,.xinf-list img,.houdongwei li img,.ind-xqpc .pic img{-webkit-transition:0.8s ease-in-out;-moz-transition:0.8s ease-in-out;-ms-transition:0.8s ease-in-out;-o-transition:0.8s ease-in-out;transition:0.8s ease-in-out;}
.house-list .pic:hover img,.tab-con .pic:hover img,.xinf-list a:hover img,.houdongwei li a:hover img,.ind-xqpc .pic:hover img{-webkit-transform:scale(1.03);-moz-transform:scale(1.03);transform:scale(1.03);}

.search-tab span,.search-tab .line,.ind-banner .btn-search,.tab-tit li,.tab-tit li .line{-moz-transition:all 0.2s linear;-webkit-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
/*ind-top*/
.ind-top{height:630px;background:url(../images/ind-top-banner.jpg) center top no-repeat;}
.ind-top .top-bar-box{background:none;padding-top:10px;}
.ind-top .top-logo{padding-top:13px;margin-right:26px;}
/*.ind-top .logo-img{width:154px;height:40px;background-image:url(./images/index-logo.png);background-image:-webkit-image-set(url("./images/index-logo.png") 1x,url("./images/index-logo@2x.png") 2x);background-repeat:no-repeat;}*/
/*.ind-top .logo-img{width:116px;height:32px;background-image:url(../images/index-logo.png);background-image:-webkit-image-set(url("./images/index-logo.png") 1x,url("./images/index-logo@2x.png") 2x);background-repeat:no-repeat;}*/
.ind-top .top-nav a{color:#fff;}
.ind-top .top-nav a:hover{color:#fdc915;}
.ind-top .top-city{background:#171619;}
.ind-top .top-city-menu{left:142px;}

.ind-banner{width:780px;margin:142px auto 0 auto;}
/*.ind-wz{width:482px;height:83px;background-image:url(./images/ind-banner-wz.png);/!*background-image:-webkit-image-set(url("./images/ind-banner-wz.png") 1x,url("./images/ind-banner-wz@2x.png") 2x);*!/background-repeat:no-repeat;margin:0 auto;}*/

.ind-search{padding-top:30px;}
.search-tab{margin:0 auto;position:relative;}
.search-tab span{display:inline-block;line-height:40px;color:#eaeaea;font-size:16px;position:relative;margin:0 35px 0 5px;cursor:pointer;}
.search-tab .line{width:16px;height:3px;background:#fdc915;position:absolute;bottom:0;left:50%;margin-left:-8px;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;filter:alpha(opacity=0);opacity:0;}
.search-tab .cur{color:#fdc915;}
.search-tab .cur .line{filter:alpha(opacity=100);opacity:1;}

.search-menu .name,.search-menu .beizhu,.search-menu .tiaojian{font-size:14px;}
.ind-search .search-inp .inp{padding:0;}

.ind-banner{position:relative;z-index:1;}
.ind-banner .search-box{margin-top:26px;float:none;}
.ind-banner .search-inp{width:780px;height:60px;background:#fff;border:none;padding-left:0;box-shadow: 0 0 20px 6px rgba(0,0,0,0.3);}
.ind-banner .inp{width:570px;font-size:16px;margin:20px 30px;height:20px;}
.ind-banner .btn-search{width:150px;height:60px;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;background:#fdc915;color:#07315a;font-size:16px;}
.ind-banner .btn-search:hover{background:#febc00;}
.ind-banner .search-menu{width:630px;top:62px;font-size:14px;}

.fwcn{position:absolute;left:-200px;top:380px;color:#fff;border-radius:3px;letter-spacing:1px;vertical-align:middle;}
.fwcn .icon{width:13px;height:17px;background-position:-52px -383px;vertical-align:-5px;*vertical-align:middle;margin-right:8px;}
.fwcn:hover{filter:alpha(opacity=80);opacity:0.8;}

/*houdongwei*/
.houdongwei-box{padding:50px 0;min-height:208px;}
.slide-box{position:relative;overflow:hidden;}

.slide-con{width:1180px;overflow:hidden;}
.slide-con li,.slide-con li img{width:370px;height:208px;overflow:hidden;}
.slide-con li{margin-right:35px;}
.slide-con li a{display:block;width:370px;height:208px;}
.slide-tit{width:1180px;height:14px;text-align:center;margin-top:30px;}
.slide-tit span{display:inline-block;width:14px;height:8px;margin:0 6px;text-indent:-999em;cursor:pointer;background:#d6d7d9;border-radius:4px;}
.slide-tit span.on{width:30px;background:#323942;}

/*.slide-load{background:url(./images/loading.gif) center center no-repeat;}*/

/*link*/
.link-box{background:#f8f8f8;padding:40px 0 50px 0;}
.link-list li{width:226px;text-align:center;margin-right:92px;}
.link-list .no-margin-r{margin-right:0;}
.link-list a{display:block;}
.link-icon{width:90px;height:90px;display:inline-block;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.link-icon1{background-position:0 0;}
.link-icon2{background-position:0 -96px;}
.link-icon3{background-position:0 -192px;}
.link-icon4{background-position:0 -288px;}
.link-list h3{line-height:40px;font-size:24px;margin-top:30px;}
.link-list p{line-height:30px;font-size:14px;color:#8e99a9;}
.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn;animation-timing-function:linear;}
.rotateOut{-webkit-animation-name:rotateOut;animation-name:rotateOut;animation-timing-function:linear;}

/*title*/
.ind-tit-box{position:relative;margin:104px 0 76px 0;background:#fff;}
.ind-tit{margin:0 auto;overflow:hidden;}
.ind-tit h2{float:left;padding-left:20px;font-size:34px;}
.ind-tit i{float:left;height:32px;background:#fbb100;width:6px;margin-top:8px;}
.ind-tit-box p{font-size:16px;color:#8e99a9;margin-top:16px;text-align:center;}
.ind-ershou .ind-tit{width:268px;}
.ind-yhf .ind-tit{width:130px;}
.ind-hwzy .ind-tit{width:164px;}
.ind-xinf .ind-tit{width:164px;}
.ind-xqpc .ind-tit{width:164px;}
.goufang-box .ind-tit{width:164px;}
.goufang-box .ind-tit-box{background:#f8f8f8;margin:0;}

.tit-more{position:absolute;right:0;bottom:0;color:#8e99a9;font-size:14px;}
.tit-more .icon-arrow{width:6px;height:10px;margin-left:8px;background-position:-36px -384px;*vertical-align:4px;}
.tit-more:hover{color:#fdc935;}
.ind-ershou .ind-tit-box{margin-top:40px;}

/*北京市二手房交易行情*/
.data-box{width:580px;margin:56px 0 0 0;}
.data-box li{width:250px;font-size:16px;color:#8e99a9;padding:0px 0 56px 40px;}
.data-box .no-padd{padding-bottom:32px;}
/*.data-box .wz{margin-top:10px;}*/
.data-box .price{font-size:22px;margin-top:6px;position:relative;}
.data-box .price .num{font-size:54px;color:#fbb100;}
/*.data-box .up,.data-box .down{width:12px;height:16px;position:absolute;left:-26px;top:10px;}*/
.data-box .up{background-position:0 -384px;}
.data-box .down{background-position:-16px -384px;}
.chart-box{float:right;}

/*mid-banner*/
.mid-banner{width:100%;margin-top:70px;position:relative;}
/*.mid-bg-link{display:block;height:420px;background:url(./images/ind-mid-banner.jpg) center top no-repeat;}*/

.mid-con{padding-top:90px;cursor:pointer;}
/*.mid-wz{width:552px;height:102px;background:url(./images/ind-mid-wz.png) no-repeat;margin:0 0 24px 70px;}*/

.m-down{position:absolute;top:216px;left:50%;margin-left:-515px;}
.m-down li{width:192px;height:53px;line-height:53px;font-size:17px;background:#fbc702;border-radius:4px;}
.m-down li a{display:block;height:53px;color:#fff;}
.m-down .m-mar{margin-top:13px;}
.m-icon{display:inline-block;width:24px;height:30px;margin:0 18px 0 20px;vertical-align:-8px;*vertical-align:middle;}
.m-down .iphone{background-position:0 -412px;}
.m-down .android{background-position:-32px -412px;}

.m-code{margin-left:280px;}

/*有好房*/
.house-list li{width:280px;margin-right:20px;overflow:hidden;}
.house-list .pic,.house-list img{width:280px;height:158px;}
.house-list .pic{overflow:hidden;}
.house-list .pic a{display:block;width:280px;height:158px;transition:none;}
.house-list .wz{padding:20px;background:#fafafa;}
.house-list h3,.house-list .con{width:236px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.house-list h3{font-size:24px;line-height:38px;}
.house-list h3:hover,.house-list .con:hover,.house-list a:hover{color:#fdc935;}
.house-list .con{font-size:18px;line-height:32px;}
.house-list .con .dian{display:inline-block;width:6px;height:6px;background:#feb230;margin-right:8px;vertical-align:4px;*vertical-align:middle;}
.house-list .con .dian2{background:#f86760;}
.house-list .con .dian3{background:#3bb5ed;}
.house-list .con .dian4{background:#5eebe9;}

/*购房知识/锦囊妙计/小区评测*/
.goufang-box{width:100%;background:#f8f8f8;padding:28px 0 50px 0;margin-top:104px;}

.tab-tit{width:440px;margin:0 auto;}
.tab-tit li{width:110px;line-height:60px;text-align:center;position:relative;font-size:24px;margin:0 55px;cursor:pointer;}
.tab-tit h2{font-size:24px}
.tab-tit li .line{width:100%;height:3px;background:#fdc915;position:absolute;bottom:0;left:50%;margin-left:-50%;filter:alpha(opacity=0);opacity:0;}
.tab-tit .cur{color:#fdc915;}
.tab-tit .cur .line{filter:alpha(opacity=100);opacity:1;}
.tab-tit2{width:220px;}
.tab-tit2 .cur{color:#323942;}
.tab-tit2 .cur .line{filter:alpha(opacity=0);opacity:0;}

.tab-con{position:relative;padding-top:70px;}
.tab-con li{width:560px;margin-right:58px;}
.tab-con .pic,.tab-con .pic img{width:227px;height:170px;}
.tab-con .pic{position:relative;overflow:hidden;}
.hot{width:60px;height:30px;line-height:30px;font-size:16px;position:absolute;right:0;top:0;color:#fff;text-align:center;}
.hot-bg1{background:#ff4444;}
.hot-bg2{background:#0aa3e9;}
.tab-con .info{width:312px;}
.tab-con .info h3{height:70px;font-size:20px;line-height:34px;overflow:hidden;padding-bottom:10px;}
.tab-con .info h3 a:hover{color:#fdc915;}
.tab-con .gf-con{height:90px;color:#535d6a;font-size:16px;line-height:30px;overflow:hidden;}
.tab-con .tit-more{top:0;height:20px;}

/*新房频道*/
.ind-xinf{padding-bottom:90px;}
.xinf-list li{width:376px;margin-right:26px;}
.xinf-list a{display:block;position:relative;overflow:hidden;}
.xinf-list a:hover{color:#fdc915;}
.xinf-list img{width:376px;height:282px;}
/*.xinf-list .info{width:376px;height:282px;background:url(./images/xinf-mask.png);position:absolute;left:0;top:0;text-align:center;}*/
.xinf-list .info h3,.xinf-list .info p,.xinf-list .wz{width:336px;padding:0 20px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.xinf-list .info h3{font-size:28px;color:#fff;margin-top:98px;}
.xinf-list .info p{font-size:20px;color:#feefcc;margin-top:10px;}
.xinf-list .info b{font-size:22px;}
.xinf-list .youhui{font-size:18px;line-height:44px;color:#fff;padding:0 20px;position:absolute;left:0;bottom:0;background:#e8445b;}
.xinf-list .wz{line-height:52px;text-align:center;font-size:16px;color:#2a2c2e;}
.xinf-list .wz a{display:inline;}
.xinf-list .no-margin-r{margin-right:0;}

/*小区评测*/
.xqpc-list li{float:left;width:280px;margin-right:20px;overflow:hidden;position:relative;}
.ind-xqpc .pic{width:280px;height:158px;position:relative;overflow:hidden;}
.ind-xqpc .pic a{display:block;width:280px;height:158px;}
.ind-xqpc .pic img{width:280px;height:158px;}
.xqpc-list h3{width:159px;height:42px;line-height:42px;margin-top:20px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.xqpc-list h3 a{font-size:24px;color:#323942;}
.xqpc-list h3 a:hover{color:#fdc935;}
.xqpc-list .didian{width:116px;position:absolute;right:0;top:188px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:right;}
.xqpc-list p{font-size:16px;color:#8e99a9;}
.ind-xqpc .label{padding-top:10px;overflow:hidden;}
.ind-xqpc .label span{width:64px;float:left;color:#5c7596;background:#f1f7ff;height:24px;line-height:24px;text-align:center;border-radius:4px;margin-right:7px;}
/*.ind-xqpc .fen{position:absolute;top:0;right:0;line-height:30px;height:30px;font-size:14px;color:#fff;padding:0 12px;/!*background:#000;background:rgba(0,0,0,0.25);*!/background:url(./images/xinf-mask.png);}*/

.xqpc-list .no-margin-r,.ind-xqpc .label .no-margin-r{margin-right:0;}

/*animate*/

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;    
  }
}

@keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center; 
  }
}












